<%- include('../partials/header.ejs') %>
<div class="container">
    <h1>Cohort</h1>
    <div class="card mt-4 ">
        <div class=" m-4">
            <h2 class="card-title"><%= cohort.name %></h2> 
            <p class="card-text">
                <div>
                    <%= cohort.members %>
                </div>
            </p>
                <form method="POST" action="/cohorts/<%= cohort.id %>" >
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" class="btn btn-outline-danger" value="Delete" />
                    <a href="/cohorts/<%= cohort.id %>/edit" class="btn btn-outline-success mr-2">Edit</a>
                </form>
        </div>
        <div class=" m-4">
        <h3>Method</h3>
        <br>
        <form action="/cohorts/<%=cohort.id%>">

            <div class="form-check">
                <input class="form-check-input" type="radio" value="teamCount"  name="method" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Team Count
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" value="numberTeam"  name="method" >
                <label class="form-check-label" for="exampleRadios1">
                    Number Per Team
                </label>
            </div>
            <br>
            <div class="form-group">
                <h5 for="quantity">Quantity</h5>
                <input type="number" class="form-control" name="quantity" value="quantity">
            </div>
              
            <button type="submit" class="btn btn-primary btn-lg btn-block">Assign Teams</button>
          
        </form>
        <br>
        <% if(group) { %> 
        <div>
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Members</th>
                  </tr>
                </thead>
        <% for(let key in group) {  %> 
                <tbody>
                  <tr>
                    <th scope="row"> <%= key %> </th>
                    <td> <%= group[key] %></td>
                  </tr>
                </tbody>
                <% } %> 
              </table>
        </div>
    <% } %> 
</div>
</div>
   </div>
</div>
<%- include('../partials/footer.ejs') %>